* {
    margin: 0px 0px;
}

/*common styles*/
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    text-align: center;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

/*common styles*/

/*header sections*/
header {
    background: rgba(229, 84, 115, 0.10);
    background-position: bottom right;
}

.section-content {
    display: flex;
    justify-content: space-between;
}

.content1 {
    padding: 150px 200px 120px 200px;
    text-align: left;
}

.description-title {
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.image {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    padding: 10px 100px 0px;
}

/*header sections*/

/*main*/
/*featured-flowers*/

.featured-flowers {
    background: #FFF;
}

.f-text {
    padding-top: 160px;
    padding-bottom: 50px;
}

.ff-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.ff-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.ff-pic {
    display: flex;
    gap: 60px;
    padding-left: 430px;
    padding-right: 430px;
    padding-bottom: 10px;
}

.ff-pic-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 2.7rem;
}

.ff-pic-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.ff-pic-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.image-name {
    display: flex;
    justify-content: space-between;
    padding-left: 460px;
    padding-right: 450px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/*featured-flowers*/
/*hot-deal*/
.hot-deal {
    background: rgba(229, 84, 115, 0.10);
    background-position: bottom right;
    display: flex;
    justify-content: space-between;
}

.hd-content1 {
    text-align: center;
    padding: 300px 200px 200px 200px;

}

.hd-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.hd-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hd-image {
    width: 318px;
    height: 420px;
    flex-shrink: 0;
    padding: 150px 250px 100px 200px;
}

/*hot-deal*/
/*instagram*/
.instagram {
    background-color: #FFF;
}

.insta-text {
    text-align: center;
    padding-top: 150px;
    gap: 25px;
}

.insta-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 20px;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.insta-all-pics {
    display: flex;
    gap: 25px;
    padding-left: 250px;
    padding-right: 250px;
}

/*instagram*/
/*updates*/
.updates {
    padding-top: 100px;
    background-color: #FFF;
    padding-bottom: 100px;
}

.up-banner {
    text-align: center;
    background-image: url("Flower\ Asset/Rectangle 9.png");
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
}

.up-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 20px;
    padding-top: 120px;
}

.up-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.contact {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
}

.contact input[type="email"] {
    width: 7000px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;

    display: block;
    width: 80%;
}

/*updates*/

/*main*/
/*footer*/
.footer {
    background: #111010;
}

.f-title {
    padding-top: 100px;
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.f-description {
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.copyright {
    padding-top: 15px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 100px;
}

/*footer*/
/*bonus*/
.bonus{

}

.bonus-title{

}
.bonus-pic{
    display: flex;
}
